# Machine_learning_question

In [291]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
data = pd.read_csv('air_quality.csv') 
data.head()

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,2013,3,1,0,4.0,-0.7,1023.0,0.0,NNW,4.4
1,2013,3,1,1,8.0,-1.1,1023.2,0.0,N,4.7
2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6
3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1
4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0

In [292]:
#Checking out the summary
#We couls see some NaN values as the count does'nt add up
data.describe()

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_speed
count,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,2014.662560,6.522930,15.729637,11.500000,75.405703,13.584607,1011.846920,0.067421,1.708496
std,1.177213,3.448752,8.800218,6.922285,79.954493,11.399097,10.404047,0.910056,1.204071
min,2013.000000,1.000000,1.000000,0.000000,-1.000000,-16.800000,985.900000,0.000000,0.000000
25%,2014.000000,4.000000,8.000000,5.750000,17.000000,3.100000,1003.300000,0.000000,0.900000
50%,2015.000000,7.000000,16.000000,11.500000,51.000000,14.500000,1011.400000,0.000000,1.400000
75%,2016.000000,10.000000,23.000000,17.250000,106.000000,23.300000,1020.100000,0.000000,2.200000
max,2017.000000,12.000000,31.000000,23.000000,898.000000,40.500000,1042.000000,72.500000,11.200000

In [293]:
data['wind_direction'].notnull().sum()

34983

In [294]:
#Creating a sub DataFrame for the where temperature, pressure and rain is NaN
data_20 = data[data['temperature'].isnull()]
data_20

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
16748,2015,1,27,20,26.0,NaN,NaN,NaN,NaN,NaN
17263,2015,2,18,7,13.0,NaN,NaN,NaN,NaN,NaN
31047,2016,9,14,15,75.0,NaN,NaN,NaN,SW,3.1
31315,2016,9,25,19,168.0,NaN,NaN,NaN,NaN,NaN
31316,2016,9,25,20,182.0,NaN,NaN,NaN,NaN,NaN
31317,2016,9,25,21,137.0,NaN,NaN,NaN,NaN,NaN
31318,2016,9,25,22,107.0,NaN,NaN,NaN,NaN,NaN
31319,2016,9,25,23,-1.0,NaN,NaN,NaN,NaN,NaN
31320,2016,9,26,0,-1.0,NaN,NaN,NaN,NE,2.4
33872,2017,1,10,8,-1.0,NaN,NaN,NaN,NW,2.6
33882,2017,1,10,18,-1.0,NaN,NaN,NaN,SW,2.0
34083,2017,1,19,3,-1.0,NaN,NaN,NaN,NaN,NaN
34084,2017,1,19,4,-1.0,NaN,NaN,NaN,NaN,NaN
34085,2017,1,19,5,126.0,NaN,NaN,NaN,NaN,NaN
34086,2017,1,19,6,104.0,NaN,NaN,NaN,NaN,NaN
34087,2017,1,19,7,-1.0,NaN,NaN,NaN,NaN,NaN
34088,2017,1,19,8,-1.0,NaN,NaN,NaN,NW,1.1
34285,2017,1,27,13,41.0,NaN,NaN,NaN,NaN,NaN
34286,2017,1,27,14,45.0,NaN,NaN,NaN,NaN,NaN
34287,2017,1,27,15,-1.0,NaN,NaN,NaN,SW,5.4

In [295]:
#filling nan values with mean of temp,pres,rain on that particular day
for i in range(len(data_20.index)):
    data_sub = data[(data['year'] == data_20.iloc[i,0]) & (data['month'] == data_20.iloc[i,1]) & (data['day'] == data_20.iloc[i,2])]
    data_sub_1 = data_sub.iloc[:,[5,6,7,9]]
    data_20.iloc[i,[5,6,7,9]] =(data_sub_1.mean(axis=0,skipna = True,numeric_only = True)).to_numpy()

C:\Users\KKC\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [296]:
data[data['temperature'].isnull()] = data_20

In [297]:
#removing the -1 and nan PM2.5 values
no_winddir = data
no_winddir = no_winddir[(no_winddir['PM2.5'] != -1) & (no_winddir['PM2.5'].notnull())]
no_winddir.head()

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed
0,2013,3,1,0,4.0,-0.7,1023.0,0.0,NNW,4.4
1,2013,3,1,1,8.0,-1.1,1023.2,0.0,N,4.7
2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6
3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1
4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0

In [298]:
#creating a new variables which combines 'year','month','day' to a single feature by keeping the count of days
no_winddir['day_sno'] = (no_winddir['year'] - 2013)*365 + (no_winddir['month']-3)*30 + (no_winddir['day'])
no_winddir.head()

C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed,day_sno
0,2013,3,1,0,4.0,-0.7,1023.0,0.0,NNW,4.4,1
1,2013,3,1,1,8.0,-1.1,1023.2,0.0,N,4.7,1
2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6,1
3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1,1
4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0,1

In [299]:
#using the wind_direction in terms of four features representing the N,W,S,E count in each row 
N = []
S = []
E = []
W = []
for i in no_winddir['wind_direction']:
    N.append(str(i).count('N'))
    S.append(str(i).count('S'))
    W.append(str(i).count('W'))
    E.append(str(i).count('E'))
no_winddir['N'] = N
no_winddir['S'] = S
no_winddir['W'] = W
no_winddir['E'] = E
no_winddir.head()

C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,year,month,day,hour,PM2.5,temperature,pressure,rain,wind_direction,wind_speed,day_sno,N,S,W,E
0,2013,3,1,0,4.0,-0.7,1023.0,0.0,NNW,4.4,1,2,0,1,0
1,2013,3,1,1,8.0,-1.1,1023.2,0.0,N,4.7,1,1,0,0,0
2,2013,3,1,2,7.0,-1.1,1023.5,0.0,NNW,5.6,1,2,0,1,0
3,2013,3,1,3,6.0,-1.4,1024.5,0.0,NW,3.1,1,1,0,1,0
4,2013,3,1,4,3.0,-2.0,1025.2,0.0,N,2.0,1,1,0,0,0

In [300]:
#removing year,month,day and wind_direction
no_winddir.drop(["year", "month", "day","wind_direction"], axis = 1, inplace = True)
no_winddir.head()

C:\Users\KKC\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

   hour  PM2.5  temperature  pressure  rain  wind_speed  day_sno  N  S  W  E
0     0    4.0         -0.7    1023.0   0.0         4.4        1  2  0  1  0
1     1    8.0         -1.1    1023.2   0.0         4.7        1  1  0  0  0
2     2    7.0         -1.1    1023.5   0.0         5.6        1  2  0  1  0
3     3    6.0         -1.4    1024.5   0.0         3.1        1  1  0  1  0
4     4    3.0         -2.0    1025.2   0.0         2.0        1  1  0  0  0

In [301]:
no_winddir.describe()

,hour,PM2.5,temperature,pressure,rain,wind_speed,day_sno,N,S,W,E
count,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000,31527.000000
mean,11.493069,81.735887,14.354591,1011.015814,0.071716,1.701968,672.827767,0.624925,0.471279,0.481968,0.677705
std,6.932282,79.991389,11.297063,10.217181,0.949540,1.200152,395.925800,0.680469,0.658726,0.666998,0.736186
min,0.000000,3.000000,-16.800000,985.900000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,23.000000,4.300000,1002.700000,0.000000,0.900000,328.000000,0.000000,0.000000,0.000000,0.000000
50%,11.000000,58.000000,15.800000,1010.300000,0.000000,1.400000,678.000000,1.000000,0.000000,0.000000,1.000000
75%,18.000000,113.000000,23.700000,1019.000000,0.000000,2.200000,1011.000000,1.000000,1.000000,1.000000,1.000000
max,23.000000,898.000000,40.500000,1042.000000,72.500000,11.200000,1458.000000,2.000000,2.000000,2.000000,2.000000

In [302]:
#Normalization doesnt provide the best results. so the data is left unnormalized

In [303]:
#train test split
X = no_winddir.iloc[:,[0,2,3,4,5,6,7,8,9,10]].values.astype(float)
y = no_winddir.iloc[:,1].values.astype(float)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [304]:
# Fitting Random Forest Regression to the dataset 
# import the regressor 
from sklearn.ensemble import RandomForestRegressor 
# create regressor object 
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 
# fit the regressor with x and y data 
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [305]:
#predicting test_data rmse
y_pred = regressor.predict(X_test)
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

41.876687333002415

In [306]:
#predicting train_data rmse
y_pred_1 = regressor.predict(X_train)
from sklearn.metrics import mean_squared_error
mse_1 = mean_squared_error(y_train, y_pred_1)
rmse_1 = np.sqrt(mse_1)
rmse_1

16.063736868902296

In [307]:
#preprocessing the input data for predictions
X_tbp = data[data['PM2.5']==-1]
X_tbp['day_sno'] = (X_tbp['year'] - 2013)*365 + (X_tbp['month']-3)*30 + (X_tbp['day'])
N = []
S = []
E = []
W = []
for i in X_tbp['wind_direction']:
    N.append(str(i).count('N'))
    S.append(str(i).count('S'))
    W.append(str(i).count('W'))
    E.append(str(i).count('E'))
X_tbp['N'] = N
X_tbp['S'] = S
X_tbp['W'] = W
X_tbp['E'] = E
X_tbp.head()
X_tbp.drop(["year", "month", "day","wind_direction"], axis = 1, inplace = True)
X_tbp.head()

C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\KKC\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\KKC\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,hour,PM2.5,temperature,pressure,rain,wind_speed,day_sno,N,S,W,E
30021,21,-1.0,30.6,1005.2,0.0,1.3,1247,0,1,0,0
30083,11,-1.0,31.1,1006.2,0.0,2.2,1250,1,0,0,2
30084,12,-1.0,31.5,1005.9,0.0,2.2,1250,0,1,0,2
30100,4,-1.0,26.8,1002.9,0.0,0.2,1251,0,1,1,0
30106,10,-1.0,30.8,1002.4,0.0,1.1,1251,1,0,0,2

In [308]:
#predictions
y_tbp = regressor.predict(X_tbp.iloc[:,[0,2,3,4,5,6,7,8,9,10]])
y_tbp

array([ 69.57,  62.14,  74.17, ...,  92.76,  97.06, 170.09])

In [309]:
#converting the output predictions to a csv file
y_tbp_df = pd.DataFrame(y_tbp)
y_tbp_df.to_csv("output.csv",index = False)

In [311]:
no_winddir.corr()

,hour,PM2.5,temperature,pressure,rain,wind_speed,day_sno,N,S,W,E
hour,1.000000,-0.011680,0.144337,-0.038682,0.011528,0.160380,0.000877,-0.172340,0.222294,0.187924,-0.196977
PM2.5,-0.011680,1.000000,-0.121360,-0.004834,-0.012761,-0.268709,-0.053475,-0.115538,0.050485,-0.130309,0.174558
temperature,0.144337,-0.121360,1.000000,-0.820766,0.033578,0.038233,-0.018745,-0.211508,0.248045,0.096068,-0.101017
pressure,-0.038682,-0.004834,-0.820766,1.000000,-0.059650,0.072203,0.155281,0.158205,-0.166908,-0.062729,0.056214
rain,0.011528,-0.012761,0.033578,-0.059650,1.000000,0.023565,0.008675,0.016762,-0.020582,-0.018748,0.022525
wind_speed,0.160380,-0.268709,0.038233,0.072203,0.023565,1.000000,0.108075,0.107570,0.014732,0.228871,-0.278744
day_sno,0.000877,-0.053475,-0.018745,0.155281,0.008675,0.108075,1.000000,-0.050089,-0.006106,-0.035783,0.075331
N,-0.172340,-0.115538,-0.211508,0.158205,0.016762,0.107570,-0.050089,1.000000,-0.657062,-0.221594,0.171269
S,0.222294,0.050485,0.248045,-0.166908,-0.020582,0.014732,-0.006106,-0.657062,1.000000,0.285883,-0.257407
W,0.187924,-0.130309,0.096068,-0.062729,-0.018748,0.228871,-0.035783,-0.221594,0.285883,1.000000,-0.665212
E,-0.196977,0.174558,-0.101017,0.056214,0.022525,-0.278744,0.075331,0.171269,-0.257407,-0.665212,1.000000